@model RecruitJobDTO
@using JobHunt.BU.DTO
@using JobHunt.BU.Manage
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Edit job posting";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";

    var Recruit = new RecruitManage().GetRecruitInfoByIdAspNetUser(User.Identity.GetUserId());
}
@Html.Hidden("TypeFix", (int)JobHunt.BU.Common.Enum.TypeFix.Update)
@Html.Hidden("RecruitJobId", Model.RecruitJobId)
@Html.Hidden("TypeAccount", (int)JobHunt.BU.Common.Enum.TypeUser.Recruit)
@Html.Hidden("DistrictIdJobGet", Model.RJDistrictId)
@Html.Hidden("WardIdJobGet", Model.RJ_WardId)
<div class="col-lg-9 column">
    <div class="padding-left">
        <div class="profile-title">
            <h3>Edit job postings</h3>
        </div>
        <div class="profile-form-edit upload-cv-right">
            <form id="valid-postjob">
                <div class="row">
                    <div class="col-lg-12">
                        <span class="pf-title">Title<span class="red">(*)</span></span>
                        <div class="pf-field">
                            <input type="text" placeholder="Example: Need to hire IT staff" id="RJTitle" name="RJTitle" value="@Model.RJTitle" required>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <span class="pf-title">Job<span class="red">(*)</span></span>
                        <div class="pf-field">
                            @Html.DropDownListFor(m => m.RJ_ProfessionId, (IEnumerable<SelectListItem>)ViewBag.ListProfesstions, "--- Job---", new { @class = "chosen" })
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <span class="pf-title">Job vacancies<span class="red">(*)</span></span>
                        <div class="pf-field">
                            <input type="text" id="RJPosition" name="RJPosition" placeholder="Ex : IT Staff" required="required" value="@Model.RJPosition">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <span class="pf-title">Amount<span class="red">(*)</span></span>
                        <div class="pf-field">
                            <input type="text" id="RJAmount" placeholder="VD: 5" name="RJAmount" required value="@Model.RJAmount">
                        </div>
                    </div>


                    <div class="col-lg-6">
                        <span class="pf-title">Salary<span class="red">(*)</span></span>
                        <div class="pf-field">
                            @Html.DropDownListFor(m => m.RJ_SalaryId, (IEnumerable<SelectListItem>)ViewBag.ListSalaries, "--- Wage ---", new { @class = "chosen" })
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <span class="pf-title">Level<span class="red">(*)</span></span>
                        <div class="pf-field">
                            @Html.DropDownListFor(m => m.RJ_LevelId, (IEnumerable<SelectListItem>)ViewBag.ListLevels, "--- Level ---", new { @class = "chosen" })

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <span class="pf-title">Experience<span class="red">(*)</span></span>
                        <div class="pf-field">
                            @Html.DropDownListFor(m => m.RJ_ExperienceId, (IEnumerable<SelectListItem>)ViewBag.ListExperiences, "--- Experience ---", new { @class = "chosen" })
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <span class="pf-title">Form of work<span class="red">(*)</span></span>
                        <div class="pf-field">
                            @Html.DropDownListFor(m => m.RJ_WorkTypeId, (IEnumerable<SelectListItem>)ViewBag.ListWorkTypes, "--- Form of work ---", new { @class = "chosen" })
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <span class="pf-title">Gender<span class="red">(*)</span></span>
                        <div class="pf-field">
                            <select data-placeholder="Select your gender" class="chosen" style="display: none;" id="RJGender">
                                <option value="1">Male</option>
                                <option value="0">Female</option>
                                <option value="-1">Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <span class="pf-title">Expired<span class="red">(*)</span></span>
                        <div class="pf-field">
                            <input type="date" id="RJExpirationDate" name="RJExpirationDate" required value="@Model.RJExpirationDate.Value.ToString("yyyy-MM-dd")">
                        </div>
                    </div>


                    <div class="col-lg-12">
                        <span class="pf-title">Described<span class="red">(*)</span></span>
                        <section id="editor">
                            <div class="summernote" id="RJ_Describe">@Html.Raw(Model.RJ_Describe)</div>
                        </section>
                    </div>
                    <div class="col-lg-12">
                        <span class="pf-title">Job requirements<span class="red">(*)</span></span>
                        <section id="editor1">
                            <div class="summernote" id="RJ_Require">@Html.Raw(Model.RJ_Require)</div>
                        </section>
                    </div>
                    <div class="col-lg-12">
                        <span class="pf-title">Benefit<span class="red">(*)</span></span>
                        <section id="editor2">
                            <div class="summernote" id="RJBenefit">@Html.Raw(Model.RJBenefit)</div>
                        </section>
                    </div>

                    @*Thông tin liên hệ*@
                    <div class="tilepostjob col-lg-12">
                        <div class="profile-title">
                            <h3 style="padding-left:0;">Contact information<span class="red">(*)</span></h3>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <span class="pf-title">Contact information</span>
                        <div class="pf-field">
                            <input type="text" id="RJEmailContact" value="@Model.RJEmailContact" name="RJEmailContact" placeholder="VD: dinhthi@gmail.com" required>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <span class="pf-title">Contact name</span>
                        <div class="pf-field">
                            <input type="text" id="RJNameContact" value="@Model.RJNameContact" name="RJNameContact" placeholder="Le Tuan Dat" required>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <span class="pf-title">Contact number</span>
                        <div class="pf-field">
                            <input type="text" id="RJPhoneContact" value="@Model.RJPhoneContact" name="RJPhoneContact" placeholder="VD: 03366515294" required>
                        </div>
                    </div>

                    @*Địa chỉ làm việc*@
                    <div class="tilepostjob col-lg-12">
                        <div class="profile-title">
                            <h3 style="padding-left:0;">Work address<span class="red">(*)</span></h3>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <span class="pf-title">Province/City</span>
                        <div class="pf-field">
                            @Html.DropDownListFor(m => m.RJCityId, (IEnumerable<SelectListItem>)ViewBag.ListCities, "-- Select Province/City --", new { @class = "chosen" })

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <span class="pf-title">District</span>
                        <div class="pf-field chosen-container-single">
                            <select data-placeholder="Select District" id="RJDistrictId" class="chosen-single dropdown-address">
                                <option value="">-- Select District --</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <span class="pf-title">Wards</span>
                        <div class="pf-field chosen-container-single">
                            <select data-placeholder="Select Wards" class="chosen-single dropdown-address" id="RJ_WardId">
                                <option value="">-- Select Wards--</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <span class="pf-title">Address</span>
                        <div class="pf-field">
                            <input id="RJ_WorkPlace" name="RJ_WorkPlace" required value="@Model.RJ_WorkPlace" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <button type="submit" id="">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
